
  <div id="app-container">
    <header class="navbar navbar-expand-md navbar-dark fixed-top nga-navbar">
      <nav class="container" aria-label="Main navigation">
        <a class="navbar-brand" alt="Accueil" aria-label="AFS">
          <img src="./assets/params/images/logo/ganatan-logo.png" srcset="./assets/params/images/logo/ganatan-logo.png,
        ./assets/params/images/logo/ganatan-logo@2x.png 2x" width="25" height="25" alt="Logo AFS">
          <span class="nga-logo mx-1">AFS</span>
        </a>
      </nav>
    </header>
  </div>
  <div class="d-flex align-items-center justify-content-center bg-light"style="height: 96vh">
    <div style="position: absolute;top: 90px;z-index: 9999;padding: 17px;" *ngIf="showErrorLabel">
      <label id="lblError"  style="color: red; font-size: x-large;">
        Authentication Error: The token provided is invalid or has expired. Please provide a valid token to proceed.
      </label>
    </div>
    <div id="fileUpload" *ngIf="isFileUploadVisible" class="p-4 border rounded shadow-lg col-lg-4"
      style="background-color: aliceblue;">
      <h1 class="mb-4 text-center text-success" style="font-size: 2.5rem; font-weight: 500;">Remittance Upload</h1>
      <p class="text-muted" style="margin: 0; font-size: 0.9rem; padding-left: 5px;">PDF <span class="text-danger">*</span></p>
      <div class="mb-3">
        <input type="file" id="fileInput" (change)="onFileSelect($event)" accept=".pdf" class="form-control"
          aria-label="Choose self bill file" style="margin-bottom: 15px;">
      </div>
      <button type="button" (click)="onUpload()" class="btn btn-success btn-lg" style="align-self: center; float:right;">
        Upload
      </button>
    </div>
  
    <app-notification-popup style="position: absolute; top: 0; left: 0;"></app-notification-popup>
  
    <div class="loading-overlay" *ngIf="loading">
      <div class="loader"></div>
    </div>
  </div>