<div class="mat-elevation-z8" style="margin-top: 50px;">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Id Column -->
    <ng-container matColumnDef="docCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DocCode</th>
      <td mat-cell *matCellDef="let element"> {{element.docCode}} </td>
    </ng-container>
  
    <!-- Title Column -->
    <ng-container matColumnDef="docDescription">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DocDescription </th>
      <td mat-cell *matCellDef="let element"> {{element.docDescription}} </td>
    </ng-container>
  
    <!-- Category Column -->
    <ng-container matColumnDef="ctdDesc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Desc </th>
      <td mat-cell *matCellDef="let element"> {{element.ctdDesc}} </td>
    </ng-container>
  
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div> 