<div class="modal d-block" id="allocationModal" tabindex="-1" aria-labelledby="allocationModalLabel" aria-hidden="true"
  style="margin-top: 45px; overflow-y: hidden;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content custom-height">

      <div class="modal-body">
        <div class="container-fluid" style="background-color: #e1e8ee;">
          <div class="row align-items-center text-black g-3 d-flex">
            <!-- Agency Field -->
            <div class="col-sm-3 col-md-2 d-flex flex-column">
              <mat-label>Agency:</mat-label>
              <div class="position-relative">
                <input type="text" placeholder="Select Agency" [formControl]="agencyControl" (click)="onInputClick()"
                  [matAutocomplete]="auto" class="form-control example-input" [value]="selectedAgencyDesc"
                  #autoTrigger="matAutocompleteTrigger">
                <i class="bi bi-caret-down-fill position-absolute" style="right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"
                  (click)="autoTrigger.openPanel()"></i>
              </div>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
                <mat-option *ngFor="let agency of filteredAgencies | async" [value]="agency.agedesc">
                  {{ agency.agedesc }}
                </mat-option>
              </mat-autocomplete>
            </div>
        
            <!-- Invoice Dropdown -->
            <div class="col-sm-3 col-md-2 d-flex flex-column">
              <mat-label class="custom-bottom">Invoice:</mat-label>
              <select id="invoiceDropdown" class="form-select flex-grow-1" [(ngModel)]="invoiceDropdown"
                (change)="onInvoiceChange($event)" name="invoiceDropdown">
                <option value="null" disabled selected>InvoiceRef | InvhDate | Due | LeftPending | ConFullName</option>
                <option *ngFor="let invoice of invoicearr" [ngValue]="invoice.invhCode">
                  {{ invoice.invoiceRef }}
                </option>
              </select>
            </div>
        
            <!-- Allocation Button -->
            <div class="col-sm-3 col-md-2 d-flex justify-content-center align-items-center">
              <button class="btn btn-primary btn-lg w-100" (click)="toggleAllocation()" [disabled]="!selectedAgencyDesc" style="font-size: 14px;margin-top: 10px;padding: 14px;">Allocation</button>
            </div>
        
            <!-- Multi Select Invoices -->
            <div class="col-sm-3 col-md-2 d-flex flex-column" style="margin-top: 28px;">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label style="padding: 14px;">Multi Select Invoices</mat-label>
                <mat-select multiple [(ngModel)]="selectedInvoices" disableRipple>
                  <mat-option disabled class="header-option">
                    <strong>InvoiceCode | InvoiceRef | Currency</strong>
                  </mat-option>
                  <mat-option *ngFor="let invoice of invoicearr" [value]="invoice">
                    {{ invoice.invhCode }} | {{ invoice.invoiceRef }} | {{ invoice.ctcCurrenCy }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        
            <!-- Multi Select Buttons -->
            <div class="col-sm-4 d-flex justify-content-center">
              <button class="btn btn-primary btn-lg" [disabled]="!selectedAgencyDesc" (click)="multiAllocationSummary()" style="font-size: 14px;margin-top: 10px;">Multi-select of Invoices</button>
              <button type="button" class="btn-close" (click)="closeDialog()" aria-label="Close"></button>
            </div>
          </div>
        </div>
        
        <div *ngIf="showAllocation" class="border p-1 mt-1 bg-light">
          <h6 class="color text-black" style="padding-left: 10px;">Allocate</h6>
          <div class="table-responsive">
            <table class="table table-bordered text-center custom-bottom">
              <thead class="color text-black">
                <tr>
                  <th class="width1">Allocation Type</th>
                  <th>Item</th>
                  <th>Amount To Allocate</th>
                  <th>Agency Commission</th>
                  <th>Our Fee</th>
                  <th>Contractor Due</th>
                  <th>VAT/GST</th>
                  <th class="width1">Due by ag. (Vat Incl.)</th>
                  <th colspan="2">Bank Charges Contractor | AF</th>
                  <th>Tax Withheld</th>
                  <th>Factoring</th>
                  <th>Pending Left Due</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <select id="allocationType" class="form-select flex-grow-1" [(ngModel)]="allocationType"
                      name="allocationType" (change)="onAllocationChange()">
                      <option value="null" disabled>Select Allocation Type</option>
                      <option *ngFor="let allocation of allocationarr" [ngValue]="allocation.altCode">
                        {{ allocation.altDesc }}
                      </option>
                    </select>
                  </td>

                  <td>
                    <select id="invoice" class="form-select flex-grow-1" [(ngModel)]="invoice" *ngIf="isItemVisible"
                      (change)="onItemChange($event)" name="invoice" [disabled]="isDisabled('invoice')">
                      <option value="null" selected>InvoiceRef | InvhDate | Due | LeftPending | ConFullName
                      </option>
                      <option *ngFor="let invoice of invoicearr" [ngValue]="invoice.invhCode">
                        {{ invoice.invoiceRef }}
                      </option>
                    </select>

                    <select id="interCoCompany" class="form-select flex-grow-1" *ngIf="isInterCoVisible"
                      [(ngModel)]="interCoCompany" (change)="onInterCoCompanyBankAcc($event)" name="interCoCompany"
                      style="margin-top: 5px;">
                      <option value="null" disabled selected>Select Company</option>
                      <option *ngFor="let interCo of interCoCompanyarr" [ngValue]="interCo.accCode">
                        {{ interCo.accDescription }}
                      </option>
                    </select>

                    <select id="interCoBank" class="form-select flex-grow-1" *ngIf="isinterCoBankVisible"
                      [(ngModel)]="interCoBank" (change)="onInterCoCompanyBankAcc($event)" name="interCoBank"
                      style="margin-top: 5px;">
                      <option value="null" disabled selected>Select Bank</option>
                      <option *ngFor="let interCoBank of interCoBankarr" [ngValue]="interCoBank.bkiCode">
                        {{ interCoBank.bkifullname }}
                      </option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control" [(ngModel)]="amountAllocate" (blur)="validateBankCharges('amountAllocate')"></td>
                  <td><input type="text" class="form-control" [(ngModel)]="allocationData.invhTotAgencyFee" [disabled]="isDisabled('invhTotAgencyFee')"></td>
                  <td><input type="text" class="form-control" [(ngModel)]="allocationData.invhTotOurfee" [disabled]="isDisabled('invhTotOurfee')"(blur)="validateBankCharges('allocationData.invhTotOurfee')"></td>
                  <td><input type="text" class="form-control" [(ngModel)]="allocationData.invhTotSal" [disabled]="isDisabled('invhTotSal')" (blur)="validateBankCharges('allocationData.invhTotSal')"></td>
                  <td><input type="text" class="form-control" [(ngModel)]="allocationData.invhVATI" disabled (blur)="validateBankCharges('allocationData.invhVATI')"></td>
                  <td><input type="text" class="form-control" [(ngModel)]="dueByAgency" disabled></td>
                  <td><input type="text" class="form-control" [(ngModel)]="bankChargesContractor" (blur)="validateBankCharges('bankChargesContractor')"></td>
                  <td><input type="text" class="form-control" [(ngModel)]="bankChargesAf"  (blur)="validateBankCharges('bankChargesAf')"></td>

                  <td><input type="text" class="form-control" [(ngModel)]="taxWithHeld"  (blur)="validateBankCharges('taxWithHeld')"></td>
                  <td><input type="text" class="form-control" [(ngModel)]="factoring"  (blur)="validateBankCharges('factoring')"></td>
                  <td><input type="text" class="form-control" [(ngModel)]="pendingLeftDue" disabled (blur)="validateBankCharges('pendingLeftDue')"></td>
                </tr>

                <tr>
                  <td>Description</td>
                  <td colspan="6"><input type="text" class="form-control" [(ngModel)]="description"></td>
                  <td colspan="6" class="text-end">
                    <button class="btn btn-primary" id="btnAddRow" name="btnAddRow"  [disabled]="isDisabled('btnAddRow')"
                     (click)="addAllocation()">{{ btnText }}</button>
                    <button class="btn btn-warning mx-3" (click)="resetAllocation()">Reset</button>
                    <button class="btn btn-secondary" (click)="autoSplit()">Auto split</button>
                  </td>
                </tr>
                <tr>
                  <td class="border  bg-danger text-black" colspan="2">
                    <strong style="font-size: 10px; color: white;">Other Currency Invoice</strong>
                  </td>
                  <td colspan="5">
                    <select id="currencyDescription" class="form-select flex-grow-1" [(ngModel)]="currencyDescription"
                      name="currencyDescription" [disabled]="isDisabled('currencyDescription')">
                      <option value="null" disabled selected>InvoiceRef | InvhDate | Due | LeftPending | Currency|
                        ConFullName</option>
                      <option *ngFor="let desc of currencyDescriptionarr" [ngValue]="desc.invhCode">
                        {{ desc?.invoiceRef }}
                      </option>
                    </select>
                  </td>
                  <td colspan="6"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="border p-1 mt-1 bg-light">
            <h6 class="color text-black" style="padding-left: 10px;">Allocation Summary</h6>
            <div class="table-responsive" *ngIf="showAllocationSummery">
              <table class="table table-bordered text-center">
                <thead class="color text-black">
                  <tr>
                    <th>Allocation Type</th>
                    <th>Item</th>
                    <th>Amount To Allocate</th>
                    <th>Agency Commission</th>
                    <th>Our Fee</th>
                    <th>Contractor Due</th>
                    <th>VAT</th>
                    <th>Description</th>
                    <th class="width1">Due by ag. (Vat Incl.)</th>
                    <th>Bank Charges Contractor</th>
                    <th>Bank Charges SMTG</th>
                    <th>Tax Withheld</th>
                    <th>Factoring</th>
                    <th>Pending Left Due</th>
                    <th class="width">Actions</th>
                  </tr>
                </thead>
                <tbody class="bg-light">
                  <tr *ngFor="let row of allocationList; let i = index">
                    <td>{{ row.allocateType }}</td>
                    <td>{{ row.invoiceItem }}</td>
                    <td>{{ row.amountToAllocate }}</td>
                    <td>{{ row.agencyCommission }}</td>
                    <td>{{ row.ourFee }}</td>
                    <td>{{ row.contractorDue }}</td>
                    <td>{{ row.vat }}</td>
                    <td>{{ row.descrp }}</td>
                    <td>{{ row.dueByAgen }}</td>
                    <td>{{ row.bkCharges }}</td>
                    <td>{{ row.bkChargesSMTG }}</td>
                    <td>{{ row.taxWithheld }}</td>
                    <td>{{ row.factoring }}</td>
                    <td>{{ row.pendingLeft }}</td>
                    <td>
                      <a href="#" class="text-primary" (click)="updateRow(row, i);  $event.preventDefault();">Update</a> |
                      <a href="#" class="text-danger" (click)="deleteRow(row);  $event.preventDefault();">Delete</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="container-fluid">
              <div class="row align-items-center text-black">
                <div class="col d-flex align-items-center mb-0">
                  <label class=" me-2">Total available for allocation:</label>
                  <input type="text" class="form-control width120 form-controldarker" [disabled]="true"
                    [(ngModel)]="txtAmountAvailable">
                </div>
                <div class="col d-flex align-items-center mb-0">
                  <label class="me-2">Total allocated (Confirmed):</label>
                  <input type="text" class="form-control width120 width123 form-controldarker" [disabled]="true"
                    [(ngModel)]="txtAllocatedConfirmedAmount">
                </div>
                <div class="col d-flex align-items-center mb-0">
                  <label class="me-2">Total available for allocation:</label>
                  <input type="text" class="form-control width120 form-controldarker" [disabled]="true"
                    [(ngModel)]="txtTotalAmount">
                </div>
              </div>
              <div class="row">
                <div style="justify-content: end;align-items: end;display: flex;">
                  <button class="btn btn-primary" style="margin-top: 10px;" *ngIf="btnSubmitAllocVisible" (click)="confirmAllocation()">Submit Allocation</button>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>