.width {
  width: 120px;
}

.width1 {
  width: 100px;
}

.responsivelabel {
  margin-left: 154px;
}

.custom-bottom {
  margin-bottom: 0px !important;
}

/* .mat-mdc-form-field {

  max-height: 41px!important;
  flex-direction: row;
} */



.width120 {
  width: 122px !important;
}

.custom-height {
  overflow: overlay;
  /* max-height: 650px; 
  height: 700px;  */

}


::ng-deep .cdk-overlay-pane {
  width: 400px !important; 
}



::ng-deep .mat-mdc-form-field {
  --mat-mdc-form-field-floating-label-scale: 0.75;
  display: inline-flex;
  flex-direction: row;
  min-width: 0;
  text-align: left;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--mat-form-field-container-text-font, var(--mat-app-body-large-font));
  line-height: var(--mat-form-field-container-text-line-height, var(--mat-app-body-large-line-height));
  font-size: var(--mat-form-field-container-text-size, var(--mat-app-body-large-size));
  letter-spacing: var(--mat-form-field-container-text-tracking, var(--mat-app-body-large-tracking));
  font-weight: var(--mat-form-field-container-text-weight, var(--mat-app-body-large-weight));
}

::ng-deep .mdc-notched-outline {
  display: flex
;
  position: absolute;
  /* top: 0; */
  /* right: 0; */
  left: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  /* height: 81%; */
  text-align: left;
  pointer-events: none;
}

.btn-close {
  --bs-btn-close-color: white !important;
}

@media (min-width: 1200px) {
  ::ng-deep .modal-xl {
    --bs-modal-width: 1250px;
  }
}

.color {
  background-color: #ffffff;
}

.form-control {
  height: 26px;
}

.form-select {
  padding: 3px 28px 3px 3px;
  font-size: 14px;
  height: 26px;
}

::ng-deep .mat-typography h6 {
  font-size: 17px !important;
  font: 0, sans-serif !important;
  letter-spacing: 0 !important;
  margin: 0 !important;
}

.text-center {
  font-size: 12px;
  text-align: center !important;
  color: black;
}

.text-black {
  color: black;
}

.btn-close {

  margin-left: 90px;
  margin-top: 6px;
  border-block: revert;

}

.form-controldarker{
  border: #36373866 1px solid !important;
}

.custom-marginleft{
  margin-left: 30px;
}

.example-input {
  padding-right: 30px !important;
}



@media screen and (min-width: 300px) and (max-width: 700px) {
  .responsivelabel {
    margin-left: 0px !important;
  }

  .w-mobile {

    width: 100% !important;
  }

  .btn-close {

    margin-left: 7px;
    margin-top: 4px;
    /* border: 2px solid; */

  }




  .custom-bottom{
    margin-bottom: -18px!important;
  }


 

  .custom-height {
    overflow: overlay;
    max-height: 650px;
    height: 700px;

  }

  .mb-sm-0 {
    margin-bottom: 8px !important;
  }


  .custom-marginleft{
    margin-left: 10px;
  }

  .custom-top{
    margin-top: 5px;
  }

  .modal-content {
    border-radius: 0 !important;
  }

}

@media only screen and (min-width: 767px) {

  .custom-marginleft{
    margin-left: 10px;
  }

  .custom-top{
    margin-top: 5px;
  }


  .custom-height {
    overflow: auto;
    max-height: 650px;
    height: 700px;

  }

  .mb-sm-0 {
    margin-bottom: 8px !important;
  }

  .mb-0 {
    margin-bottom: 8px !important;
  }

  .width123 {
    margin-left: 7px !important;
  }  
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: 2;
  outline: 0;
}