.width {
  width: 120px;
}

.width1 {
  width: 100px;
}

.responsivelabel {
  margin-left: 154px;
}

.custom-bottom {
  margin-bottom: 0px !important;
}


.width120 {
  width: 122px !important;
}

.custom-height {
  overflow: overlay;
  /* max-height: 650px; 
  height: 700px;  */

}

.btn-close {
  --bs-btn-close-color: white !important;
}

@media (min-width: 1200px) {
  ::ng-deep .modal-xl {
    --bs-modal-width: 1210px;
  }
}

.color {
  background-color: #ffffff;
}

.form-control {
  height: 26px;
}

.form-select {
  padding: 3px 28px 3px 3px;
  font-size: 14px;
  height: 26px;
}

::ng-deep .mat-typography h6 {
  font-size: 17px !important;
  font: 0, sans-serif !important;
  letter-spacing: 0 !important;
  margin: 0 !important;
}

.text-center {
  font-size: 12px;
  text-align: center !important;
  color: black;
}

.text-black {
  color: black;
}

.btn-close {

  margin-left: 100px;
  margin-top: 6px;


}




@media screen and (min-width: 300px) and (max-width: 700px) {
  .responsivelabel {
    margin-left: 0px !important;
  }

  .w-mobile {

    width: 100% !important;
  }

  .btn-close {

    margin-left: 7px;
    margin-top: 4px;
    border: 2px solid;

  }

  .custom-height {
    overflow: overlay;
    max-height: 650px;
    height: 700px;

  }

  .mb-sm-0 {
    margin-bottom: 8px !important;
  }



}

@media only screen and (min-width: 767px) {

  .custom-height {
    overflow: auto;
    max-height: 650px;
    height: 700px;

  }

  .mb-sm-0 {
    margin-bottom: 8px !important;
  }

  .mb-0 {
    margin-bottom: 8px !important;
  }

  .width123 {
    margin-left: 7px !important;
  }
}

.modal-content {
  position: relative;
  display: flex
;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: 0;
  outline: 0;
}