.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  color: white;
  font-weight: 500;
  border-top: 1px solid #09238d;
  border-bottom: 1px solid #09238d;
}

/* .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  color: yellow;
  border-top: 1px solid yellow;
  border-bottom: 1px solid yellow;
} */

/* Default Link Style */
.nav-link {
  color: #000; /* Default color */
  border-top: 1px solid transparent; /* Default border */
  border-bottom: 1px solid transparent; /* Default border */
}

/* Active Link Style */
.active-link {
  color: yellow !important;
  border-top: 1px solid yellow !important;
  border-bottom: 1px solid yellow !important;
}


/* .fixed-top{

  z-index: 0 !important;
} */


::ng-deep .nga-navbar{
  background-color: #333 !important;
}



#app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* This ensures that the main content area takes up the remaining space. */
}


.nga-navbar {
  -webkit-box-shadow: 0 2px 5px 0 rgba(112, 90, 90, 0.16), 0 11px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 11px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #09238d;
}

.nga-navbar-logo {
  font-weight: 700;
}

/* .nga-navbar-logo:hover {
  color: rgba(255, 255, 255, 0.75);
} */

.nga-logo {
  font-weight: 700;
}

/* .nga-logo:hover {
  color: rgba(255, 255, 255, 0.75);
} */


.nga-footer {
  background-color: black;
  color: white;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0; /* Optional for spacing */
}

.nga-footer a {
  color: white;
  text-decoration: none
}

.nga-footer a:hover,
.nga-footer a:focus {
  color: yellow;
  text-decoration: underline;
}

.nga-footer .hint {
  background-color: #1976d2;
}

.nga-footer .hint:hover {
  opacity: 0.8;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1500px;
  }
}