<div class="modal d-block mt-4 custom-height" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="false">
  <div class="modal-dialog modal-lg custom-modal-width modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Expense</h5>
        <button type="button" class="btn-close" (click)="closeDialog()" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex flex-column flex-lg-row">
        <!-- Left Side: Form with Scrollbar -->
        <div class="col-12 col-lg-7 overflow-auto pe-lg-4 mb-3 mb-lg-0"
          style="max-height: 450px; border-right: 5px solid #ddd;">
          <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
            <!-- Contractor Name -->
            <div class="row mb-3 align-items-center">
              <label for="contractorname" class="col-sm-4 col-form-label fontsize14">Contractor Name:
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="ContractorName" name="contractorname"
                  [(ngModel)]="contractorname" #name="ngModel" required>
              </div>
            </div>
            <!-- AFS Contractor DropDown -->
            <div class="row mb-3 align-items-center">
              <label for="afscontractor" class="col-sm-4 col-form-label fontsize14">AFS Contractor:</label>
              <div class="col-sm-8">
                <select class="form-select" id="AFSContractorDropdown" name="Contractor" (change)="filterContractData()"
                  required [(ngModel)]="selectedContract">
                  <option *ngFor="let option of contractorOptions" [ngValue]="option">
                    {{ option.fullName }}
                  </option>
                </select>
              </div>
            </div>
            <!-- AFS Contact -->
            <div class="row mb-3 align-items-center">
              <label for="afscontact" class="col-sm-4 col-form-label fontsize14">AFS Contract:</label>
              <div class="col-sm-8">
                <select class="form-select" id="AFSContactDropdown" name="afscontact" required
                  [(ngModel)]="selectedFilteredContract">
                  <option *ngFor="let option of filteredContractOptions" [value]="option.name">
                    {{ option.name }}
                  </option>
                </select>
              </div>
            </div>
            <!-- First Name -->
            <div class="row mb-3 align-items-center">
              <label for="firstnamefor" class="col-sm-4 col-form-label fontsize14">First Name:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="firstnamefor" name="firstnamefor" [(ngModel)]="firstnamefor"
                  required />
                  <div class="error-message" *ngIf="errors.firstName">
                  <small class="text-danger" *ngIf="errors.firstName">{{ errors.firstName }}</small>
                </div>
              </div>
            </div>

            <!-- Last Name -->
            <div class="row mb-3 align-items-center">
              <label for="lastnamefor" class="col-sm-4 col-form-label fontsize14">Last Name:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="lastnamefor" name="lastnamefor" [(ngModel)]="lastnamefor"
                  required />
                  <div class="error-message" *ngIf="errors.lastName">
                  <small class="text-danger" *ngIf="errors.lastName">{{ errors.lastName }}</small>
                </div>
              </div>
            </div>

            <!-- Start Date -->
            <div class="row mb-3 align-items-center">
              <label for="startDate" class="col-sm-4 col-form-label fontsize14">Start Date:</label>
              <div class="col-sm-8">
                <input type="date" class="form-control" id="startDate" name="startdates" [(ngModel)]="startdate"
                  required />
                  <div class="error-message" *ngIf="errors.startDate">
                  <small class="text-danger" *ngIf="errors.startDate">{{ errors.startDate }}</small>
                </div>
              </div>
            </div>

            <!-- End Date -->
            <div class="row mb-3 align-items-center">
              <label for="endDate" class="col-sm-4 col-form-label fontsize14">End Date:</label>
              <div class="col-sm-8">
                <input
                  type="date"
                  class="form-control"
                  id="endDate"
                  name="enddates"
                  [(ngModel)]="enddate"
                  required
                />
                <!-- Only show the div if there is an error -->
                <div class="error-message" *ngIf="errors.endDate">
                  <small class="text-danger">{{ errors.endDate }}</small>
                </div>
              </div>
            </div>
            
            <!-- Total Amount -->
            <div class="row mb-3 align-items-center">
              <label for="TotalAmount" class="col-sm-4 col-form-label fontsize14">Total Amount:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="TotalAmount" name="totalAmount" [(ngModel)]="totalAmount"
                  required>
              </div>
            </div>
            <!-- Invoice No -->
            <div class="row mb-3 align-items-center">
              <label for="InvoiceNo" class="col-sm-4 col-form-label fontsize14">Invoice no:</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="InvoiceNo" name="invoiceNumber"
                  [(ngModel)]="invoiceNumber" required>
              </div>
            </div>
            <div class="row mb-3 align-items-center">
              <label for="Invoicedate" class="col-sm-4 col-form-label fontsize14">Invoice Date:</label>
              <div class="col-sm-8">
                <input type="date" class="form-control" id="Invoicedate" name="invoiceDate" required
                  [(ngModel)]="invoiceDate">
              </div>
            </div>
            <input type="hidden" id="groupNewId" name="groupNewId" [(ngModel)]="groupNewId">
            <input type="hidden" id="gridCtcCode" name="gridCtcCode" [(ngModel)]="gridCtcCode">
          </form>
        </div>
        <div class="col-12 col-lg-5 d-flex justify-content-center align-items-center"
          style="max-width: 500px; max-height: 470px; overflow: hidden; ">
          
          <!-- <lib-ngx-image-zoom [thumbImage]="thumbImage" [fullImage]="fullImagePath" [magnification]="2"
          [enableScrollZoom]="false" [enableLens]="true" [lensWidth]="100" [lensHeight]="100" [maxZoomRatio]="2"
          [circularLens]="true" [scrollStepSize]="1">
        </lib-ngx-image-zoom> -->

        <lib-ngx-image-zoom *ngIf="thumbImage && fullImagePath" [thumbImage]="thumbImage" [fullImage]="fullImagePath"
        [magnification]="1.5" [enableScrollZoom]="false" [enableLens]="true" [lensWidth]="140" [lensHeight]="140"
        [minZoomRatio]=".5" [maxZoomRatio]="1" [circularLens]="true" [scrollStepSize]="1">
      </lib-ngx-image-zoom>
        </div>

      </div>
      <div class="col-12">
        <div class="row">
          <!-- Error Message with more space on larger screens -->
          <div class="col-12 col-lg-4">
            <small class="text-danger p-2" *ngIf="errors.dateComparison">
              {{ errors.dateComparison }}
            </small>
          </div>

          <!-- Button on the right -->
          <div class="col-12 col-lg-3 overflow-auto pe-lg-2 mb-3 mb-lg-0 d-flex justify-content-end">
            <button (click)="submitForm()" class="btn btn-primary mt-3 mb-3" >Save and Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>