<div class="custom-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="custom-modal-dialog">
      <div class="custom-modal-content">
        <div class="custom-modal-header">
          <span class="drag-header">Manual Allocation</span>
          <button type="button" class="btn-close buttonmargin_mobile" style="float: right;" (click)="closeDialog()" aria-label="Close"></button>
        </div>
        <div class="custom-modal-body">
          <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
            
            <div class="form-group">
              <label for="bankPaymentDate">Bank Payment Date:</label>
              <input type="date" id="bankPaymentDate" name="bankPaymentDate" [(ngModel)]="bankPaymentDate" class="custom_width"/>
            </div>
  
            <div class="form-group">
              <label for="amountPaid">Amount Paid:</label>
              <input type="text" id="amountPaid" name="amountPaid" [(ngModel)]="amountPaid" maxlength="50" autocomplete="off" class="custom_width"/>
            </div>

            <div class="form-group">
                <label for="invoiceNo">Invoice No:</label>
                <input type="text" id="invoiceNo" name="invoiceNo" [(ngModel)]="invoiceNo" maxlength="50" autocomplete="off" class="custom_width"/>
            </div>

            <div class="form-group">
              <label for="fundSource">Fund Source:</label>
              <input type="text" id="fundSource" name="fundSource" [(ngModel)]="fundSource" maxlength="200" autocomplete="off" style="border-radius: 5px;"/>
            </div>
  
            <div class="form-group">
              <label for="fundDescription">Fund Description:</label>
              <textarea id="fundDescription" name="fundDescription" [(ngModel)]="fundDescription" maxlength="200" autocomplete="off" style="max-height: 300px; border-radius: 5px;"></textarea>
            </div>
  
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">Add</button>
              <!-- <button type="button" class="btn btn-secondary" (click)="closeDialog()">Cancel</button> -->
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </div>
  