/* table {
    width: 100%;
  } */

.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.mat-mdc-header-row {
  background: inherit;
  background-color: #7a7777;
  color: white;
}

::ng-deep .mat-sort-header-arrow {
  color: white !important;
}

.mvt-date-column {
  min-width: 110px;
  /* max-width: 110px; */
}
