<div style="margin-top: 63px;">
  <div class="d-flex align-items-center justify-content-between">
    <p class="custom-heading">Transactions Allocation</p>
 
    <app-confirmation-pop style="position: absolute; top: 0; left: 0;"></app-confirmation-pop>
  </div>

  <!-- <hr /> -->

  <div style="margin-top: 5px;">
    <form (ngSubmit)="applyFilter(myForm)" #myForm="ngForm" class="backgroundcolorform" style="padding: 9px;">
      <div class="row g-2 searchTable">
        <div class="col-6 col-sm-2">
          <label for="internalCompany" class="form-label me-2 custom-label">Internal Company:</label>
          <select id="internalCompany" class="form-select flex-grow-1" [(ngModel)]="selectedCompany"
            name="selectedCompany" (change)="onCompanyChange()">
            <option value="null" disabled selected>Select Company</option>
            <option *ngFor="let company of companyList" [ngValue]="company">
              {{ company.cieDesc }}
            </option>
          </select>
        </div>
        <div class="col-6 col-sm-2">
          <label for="mvtFrom" class="form-label me-2 custom-label">Mvt From:</label>
          <input type="date" id="mvtFrom" class="form-control" name="mvtFrom" [(ngModel)]="mvtFromDate"
            >
        </div>
        <div class="col-6 col-sm-2">
          <label for="mvtTo" class="form-label me-2 custom-label">To:</label>
          <input type="date" id="mvtTo" class="form-control" name="mvtTo" [(ngModel)]="mvtToDate">
        </div>
        <!-- <div class="col-6 col-sm-2">
          <label for="mvtType" class="form-label me-2 custom-label">Type of Movements:</label>
          <select id="mvtType" class="form-select flex-grow-1" [(ngModel)]="mvtType" name="mvtType">
            <option value="" disabled  selected>Select</option>
            <option *ngFor="let type of mvtTypeList" [value]="type">{{ type }}</option>
          </select>
        </div> -->
        <div class="col-6 col-sm-1 custom-manualallocation" >
          <button  type="button"   [disabled]="!selectedCompany || !selectedBankAccount" class="btn btn-outline-info white-color custom-label" (click)="openManualAllocationModal()">Manual Allocation</button>
        </div>
        <div class="col-6 col-sm-1 mx-2" style="padding-top: 21px;">
          <button type="button" class="btn btn-outline-info white-color custom-label">UBS Bank Statements</button>
        </div>

        <div class="col-4 col-sm-1" style="padding-top: 21px;">
          <button type="submit" class="btn btn-outline-info white-color custom-label">Other Bank Statements</button>
        </div>
        <div class="col-4 col-sm-1" style="padding-top: 21px;">
        <button type="submit" class="btn btn-success custom-label" (click)="openConfirmationBox()"
        style="margin-right: 19px;">Batch Allocate</button>
     
    </div>
      </div>

      <div class="row g-2 searchTable">
        <div class="col-6 col-sm-2">
          <label for="bankAccount" class="form-label me-2 custom-label">Bank Account:</label>
          <select id="bankAccount" class="form-select" [(ngModel)]="selectedBankAccount" name="bankAccount">
            <option value="" disabled selected>Select Bank Account</option>
            <option *ngFor="let account of bankAccountList" [value]="account.bkiAccountName">
              {{ account.bkiAccountName }}
            </option>
          </select>
        </div>

        <div class="col-6 col-sm-2">
          <label for="valueFrom" class="form-label me-2 custom-label">Value From:</label>
          <input type="date" id="valueFrom" class="form-control" name="valueFrom" [(ngModel)]="mvtValueFromDate"
            >
        </div>
        <div class="col-6 col-sm-2">
          <label for="valueTo" class="form-label me-2 custom-label">To:</label>
          <input type="date" id="valueTo" class="form-control" name="valueTo" [(ngModel)]="mvtValueToDate"
            >
        </div>
        <div class="col-6 col-sm-2" style="padding-top: 30px;">
          <label class="form-label custom-label">Money:</label>
          &nbsp;&nbsp;
          <input type="radio" id="received" name="money" class="form-check-input" [(ngModel)]="money" [value]="true">
          <label for="received" class="form-check-label custom-label"
            style="font-weight: normal; padding-left: 5px; ">Received</label>

            &nbsp;
          <input type="radio" id="sent" name="money" class="form-check-input custom-mobile" [(ngModel)]="money" [value]="false">
          <label for="sent" class="form-check-label custom-label" style="font-weight: normal; padding-left: 5px;">Sent</label>
        </div>
        <div class="form-check col-6 col-sm-2" style="padding-top: 30px;">
          <input type="checkbox" name="IsRecordAllocated" [(ngModel)]="IsRecordAllocated" />
          <label class="form-check-label fontweight500" for="flexCheckDefault"
            style="margin-left: 10px;">
            Is Allocated
          </label>
        </div>

        <div class="form-check col-6 col-sm-2" >
          <button type="submit" class="btn btn-dark">Search</button>
          <button type="button" class="btn btn-outline-dark" (click)="ClearSearch()"
            style="margin-left: 12px; color: white;">
            Clear
          </button>
        </div>
        <!-- <div class="form-check col-6 col-sm-2" >
       
    </div> -->
      
       
      </div>
      <div class="row g-2 searchTable">
        <!-- <div class="d-flex justify-content-end" style="padding-right: 98px; padding-top: 10px;">
          <button type="submit" class="btn btn-dark">Search</button>
          <button type="button" class="btn btn-outline-dark" (click)="ClearSearch()"
            style="margin-left: 12px; color: white;">
            Clear
          </button>
        </div> -->
      </div>
    </form>
  </div>

</div>

<div style="overflow-x:auto; margin-top: -4px;">
  <table mat-table [dataSource]="dataSource" matSort style="margin-top: 5px;">

    <!-- <ng-container matColumnDef="mvtID">
      <th mat-header-cell *matHeaderCellDef> Mvt ID </th>
      <td mat-cell *matCellDef="let element"> {{ element.mvtID }} </td>
    </ng-container>

    <ng-container matColumnDef="mvtKey">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Mvt Key </th>
      <td mat-cell *matCellDef="let element"> {{ element.mvtKey }} </td>
    </ng-container> -->

    <ng-container matColumnDef="mvtDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="mvt-date-column"> Mvt Date </th>
      <td mat-cell *matCellDef="let element" class="mvt-date-column"> {{ element.mvtDate | date:'yyyy-MM-dd' }} </td>

    </ng-container>

    <ng-container matColumnDef="mvtValueDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="mvt-date-column"> Value Date </th>
      <td mat-cell *matCellDef="let element" class="mvt-date-column"> {{ element.mvtValueDate | date:'yyyy-MM-dd' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="refRem">
      <th mat-header-cell *matHeaderCellDef> RefRem </th>
      <td mat-cell *matCellDef="let element">
        <span matTooltip="{{ element.refRem }}" matTooltipPosition="above">
          {{ element.refRem | slice:0:40 }}{{ element.refRem.length > 50 ? '...' : '' }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="mvtCurrency">
      <th mat-header-cell *matHeaderCellDef> Currency </th>
      <td mat-cell *matCellDef="let element"> {{ element.mvtCurrency}} </td>
    </ng-container>

    <ng-container matColumnDef="mvtAmountSent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Debit </th>
      <td mat-cell *matCellDef="let element"> {{ element.mvtAmountSent}} </td>
    </ng-container>

    <ng-container matColumnDef="mvtAmountRcvd">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Credit </th>
      <td mat-cell *matCellDef="let element">{{ formatAmount(element.mvtAmountRcvd) + ' ' + element.mvtCurrency }}</td>
    </ng-container>

    <ng-container matColumnDef="mvtBkAccount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Bank Account </th>
      <td mat-cell *matCellDef="let element"> {{ element.mvtBkAccount }} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="bkiAccountName">
      <th mat-header-cell *matHeaderCellDef> Account Name </th>
      <td mat-cell *matCellDef="let element"> {{ element.bkiAccountName }} </td>
    </ng-container> -->

    <ng-container matColumnDef="mvtType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
      <td mat-cell *matCellDef="let element"> {{ element.mvtType }} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="allocation">
      <th mat-header-cell *matHeaderCellDef> Allocate </th>
      <td mat-cell *matCellDef="let element">
        <a [href]="'your-url/' + element.id" target="_blank">allocate</a>
      </td>
    </ng-container> -->

    <!-- <ng-container matColumnDef="validate">
      <th mat-header-cell *matHeaderCellDef> Validate </th>
      <td mat-cell *matCellDef="let element">

          Validate
        </button>
      </td>
    </ng-container>  
     -->
    

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <!-- (click)="validateRecord(element.id)" -->
        <button class="btn btn-outline-danger" (click)="validateRecord(element.mvtKey)" *ngIf="element.isRecordValidated === false"  >
          Validate
        </button>
        &nbsp;
        <span *ngIf="element.isRecordValidated === true" style="color: green; padding-right: 25px;" >Validated</span>
        
      
        <button class="btn btn-outline-success" (click)="openAllocationModal(element)">Allocate</button>
      
        

      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="mvtDateReconciled">
      <th mat-header-cell *matHeaderCellDef class="mvt-date-column"> Date Reconciled </th>
      <td mat-cell *matCellDef="let element" class="mvt-date-column">
        {{ element.mvtDateReconciled === '0001-01-01T00:00:00' ? '' : (element.mvtDate | date: 'yyyy-MM-dd') }}
      </td>

    </ng-container> -->

    <!-- <ng-container matColumnDef="invoiceNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Number</th>
      <td mat-cell *matCellDef="let element" class="mvt-date-column"> {{ element.invoiceNumber }} </td>
    </ng-container>

    <ng-container matColumnDef="Selfbill">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Self Bill</th>
      <td mat-cell *matCellDef="let element" class="mvt-date-column"> {{ element.selfbillNumber }} </td>
    </ng-container> -->


    <!-- MvtReconciled Column -->
    <!-- <ng-container matColumnDef="mvtReconciled">
    <th mat-header-cell *matHeaderCellDef > Reconciled </th>
    <td mat-cell *matCellDef="let element"> 

      {{element.mvtReconciled ? 'Yes' : 'No'}}
     
    </td>
  </ng-container> -->

    <!-- MvtBkClearing Column -->
    <!-- <ng-container matColumnDef="mvtBkClearing">
    <th mat-header-cell *matHeaderCellDef > Clearing </th>
    <td mat-cell *matCellDef="let element"> {{ element.mvtBkClearing }} </td> 
  </ng-container> -->

    <!-- MvtUserReconciled Column -->
    <!-- <ng-container matColumnDef="mvtUserReconciled">
    <th mat-header-cell *matHeaderCellDef > User Reconciled </th>
    <td mat-cell *matCellDef="let element"> {{ element.mvtUserReconciled }} </td>
  </ng-container> -->

    <!-- MvtDtLastUpdate Column -->
    <!-- <ng-container matColumnDef="mvtDtLastUpdate">
    <th mat-header-cell *matHeaderCellDef  class="mvt-date-column"> Last Update </th>
    <td mat-cell *matCellDef="let element" class="mvt-date-column"> {{ element.mvtDtLastUpdate | date:'yyyy-MM-dd' }} </td>
  </ng-container> -->

    <!-- MvtDtUser Column -->
    <!-- <ng-container matColumnDef="mvtDtUser">
    <th mat-header-cell *matHeaderCellDef > User </th>
    <td mat-cell *matCellDef="let element"> {{ element.mvtDtUser }} </td>
  </ng-container> -->

    <!-- PIStatus Column -->
    <!-- <ng-container matColumnDef="PIStatus">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> PI Status </th>
    <td mat-cell *matCellDef="let element"> {{ element.PIStatus ? 'yes' : 'No' }} </td>
  </ng-container> -->

    <!-- MvtlRef Column -->
    <!-- <ng-container matColumnDef="mvtlRef">
    <th mat-header-cell *matHeaderCellDef > Reference </th>
    <td mat-cell *matCellDef="let element"> {{ element.mvtlRef }} </td>
  </ng-container> -->

    <!-- MvtDtCreated Column -->
    <!-- <ng-container matColumnDef="mvtDtCreated">
    <th mat-header-cell *matHeaderCellDef  class="mvt-date-column"> Date Created </th>
    <td mat-cell *matCellDef="let element" class="mvt-date-column"> {{ element.mvtDtCreated | date:'yyyy-MM-dd'  }} </td>
  </ng-container> -->

    <!-- CieDesc Column -->
    <!-- <ng-container matColumnDef="cieDesc">
    <th mat-header-cell *matHeaderCellDef > Description </th>
    <td mat-cell *matCellDef="let element"> {{ element.cieDesc }} </td>
  </ng-container> -->

    <!-- <ng-container matColumnDef="notes">
    <th mat-header-cell *matHeaderCellDef > Notes </th>
    <td mat-cell *matCellDef="let element" class="noteswidth"> {{ element.notes }} </td>
  </ng-container> -->


    <!-- Table Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->

    <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"
      [ngClass]="{'table-danger': row.notFoundInviceNumberOrSelfBill === 1, 'table-success': row.notFoundInviceNumberOrSelfBill === 0}">
    </tr>

  </table>
</div>
<mat-paginator [length]="totalRecords" [pageSize]="pageSize" [pageIndex]="pageIndex" (page)="onPageChanged($event)"
  [pageSizeOptions]="[5, 10, 15, 20]">
</mat-paginator>

<!-- <div class="loading-overlay" *ngIf="loading">
  <div class="loader"></div>
</div> -->