/* table {
    width: 100%;
  } */

.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.mat-mdc-header-row {
  background: inherit;
  background-color: #333;
  color: white;
}

.backgroundcolorform{
  background: inherit;
  background-color: #7a7777;
  color: white;
}




::ng-deep .mat-sort-header-arrow {
  color: white !important;
}

.mvt-date-column {
  min-width: 110px;
  /* max-width: 110px; */
}

.marginleft8{
  margin-left: 20px;
}
.marginleft20{
  margin-left: 3px;
}
.margintop25{
  margin-top: 25px;
}



.customdisplay{
  display: flex;
  justify-content: end;
  align-items: end;
}


@media screen and (min-width: 300px) and (max-width: 700px) {
  .marginleft8 {
   
      margin-left: 0px !important;
  }
  .marginleft20{
      margin-left: 0px !important;
  }
  .margintop25{
      margin-top: 5px;
      margin-bottom: 10px;
  }
  .mx-2 {
      margin-right: 0px !important;
      margin-left: 0px !important;
  }

  .customdisplay{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}