.tdContactorName {
    width: 200px;
    word-break: break-word;
    white-space: normal;
}


hr {
    margin: 0.2rem 0;
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
}

.fontweight500 {
    font-weight: 500;
}

::ng-deep .mat-mdc-dialog-surface{

    border-radius: 0px!important;
  }

  ::ng-deep .mat-mdc-header-row {
    background-color: #333 !important;
}

  ::ng-deep .mat-mdc-row{
    vertical-align: middle !important; 
  }  
  

.mat-mdc-header-row {
    background: inherit;
    background-color: black;
    /* color: white !important; */
}

::ng-deep .table > thead {
    vertical-align: middle !important;
}

::ng-deep .mat-mdc-header-row {
    /* height: 10px!important; */
    text-align: center;
} 

::ng-deep .mat-sort-header-arrow {
    color: white !important;
}


.coloredwhite {
    color: white;
}


.mat-header-cell {
    font-weight: bold;
    font-size: 14px;
}

.mat-cell {
    font-size: 13px;
}

.mat-header-row {
    background-color: #3f51b5;
    /* Primary color */
    color: white;
    text-align: center;
}

.mat-header-cell {
    padding: 16px;
    font-weight: bold;
}


.mat-row:nth-child(even) {
    background-color: #f9f9f9;
}

.mat-row:hover {
    background-color: #e0e0e0;
    /* Highlight on hover */
    cursor: pointer;
}


.mat-table-container {
    max-height: 400px;
    overflow: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.searchTable {
    width: 100%;
    background-color: #7a7777;
}

::ng-deep .btn-outline-dark {
    --bs-btn-border-color: white !important;
  }

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-color: #ccc #0000;
    animation: l16 1s infinite linear;
}

.custom-success {
  background-color: #f7f7c9;
}

.custom-danger {
  background-color: #effdec;
}


.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
}

.loader::before {
    border-color: #f03355 #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
}

.loader::after {
    margin: 8px;
}

@keyframes l16 {
    100% {
        transform: rotate(1turn);
    }
}

input[type="checkbox"] {
    transform: scale(2.2);
  }

.fa-triangle-exclamation {
    color: #c12b2b;
}
.fa-circle-check { color: #085d08;} 

.invoice-link {
    text-decoration: underline;
    color: blue;
    
  }
  
  .invoice-link:hover {
    color: darkblue;
    cursor: pointer;
  }
  