.tdContactorName {
    width: 200px;
    word-break: break-word;
    white-space: normal;
}


hr {
    margin: 0.2rem 0;
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
}

.fontweight500 {
    font-weight: 500;
}

::ng-deep .mat-mdc-dialog-surface{

    border-radius: 0px!important;
  }
  

.mat-mdc-header-row {
    background: inherit;
    background-color: black;
    /* color: white !important; */
}

::ng-deep .table > thead {
    vertical-align: middle !important;
}

::ng-deep .mat-mdc-header-row {
    /* height: 10px!important; */
    text-align: center;
} 

::ng-deep .mat-sort-header-arrow {
    color: white !important;
}


.coloredwhite {
    color: white;
}


.mat-header-cell {
    font-weight: bold;
    font-size: 14px;
}

.mat-cell {
    font-size: 13px;
}

.mat-header-row {
    background-color: #3f51b5;
    /* Primary color */
    color: white;
    text-align: center;
}

.mat-header-cell {
    padding: 16px;
    font-weight: bold;
}


.mat-row:nth-child(even) {
    background-color: #f9f9f9;
}

.mat-row:hover {
    background-color: #e0e0e0;
    /* Highlight on hover */
    cursor: pointer;
}


.mat-table-container {
    max-height: 400px;
    overflow: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.searchTable {
    width: 100%;
    background-color: #7393B3;
}