<div class="mat-elevation-z8 " style="margin-top: 65px;">
  <!-- <p style="padding: 20px 0px 0px 20px; font-weight: 1000; font-size: x-large; vertical-align: center;">Self Bill Invoice
  </p> -->
  <!-- <div class="d-flex align-items-center justify-content-between">
    <p style="font-weight: 1000; font-size: x-large; margin: 0; padding-left: 14px">Self Bill Invoice</p>
    <button type="submit" class="btn btn-outline-success" style="margin-right: 10px;">Batch Validate</button>
  </div> -->

  <div style="margin-top: 63px;" >
   <div class="d-flex align-items-center justify-content-between"> 
      <p style="font-weight: 1000; font-size: x-large; margin: 0; padding-left: 14px; ">Self Bill Invoice</p>
      <button type="submit" class="btn btn-outline-success" (click)="openBatchValidateConfirmationBox()" style="margin-right: 19px;">Batch Validate</button>
      <app-confirmation-pop style="position: absolute; top: 0; left: 0;"></app-confirmation-pop>
      <app-notification-popup style="position: absolute; top: 0; left: 0;"
  *ngIf="(notificationService.notificationVisibility$ | async)"
></app-notification-popup>


    </div> 
  <hr />
  <!-- </div> -->
  <form (ngSubmit)="SearchResults(myForm)" #myForm="ngForm">
    <div class="row g-2 searchTable">
      <div class=" col-6 col-sm-2 marginleft20" >
        <label class="fontweight500">Contractor Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="First / Last name" [(ngModel)]="name" autocomplete="off"/>
      </div>
      <div class="col-6 col-sm-2 marginleft8" >
        <label class="fontweight500">Invoice No</label>
        <input type="text" class="form-control" id="invoiceno" name="invoiceno" placeholder="Invoice No" [(ngModel)]="invoiceno" maxlength="50"  autocomplete="off"/>
      </div>
        <div class="col-6 col-sm-2 marginleft8" >
          <label class="fontweight500">Start Date</label>
          <input type="date" id="startdate" class="form-control" [(ngModel)]="startdate" name="startdate" [max]="getToday()" />
        </div>
      <div class="col-6 col-sm-2 marginleft8" >
        <label class="fontweight500">End Date</label>
        <input type="date" id="enddate" class="form-control" [(ngModel)]="enddate" name="date" [max]="getToday()" />
      </div>
      <!-- <div class="col-12 col-sm-2">
        <label class="fontweight500">Validated</label>
        <input type="checkbox" name="IsValidatedRecord"  [(ngModel)]="IsValidatedRecord" />
      </div> -->
  
      <div class="form-check col-6 col-sm-1 d-flex justify-content-center align-items-center marginleft8 margintop25">
        <input type="checkbox" name="IsValidatedRecord"  [(ngModel)]="IsValidatedRecord" />
        <label class="form-check-label fontweight500" for="flexCheckDefault" style="margin-left: 10px; font-size: 18px;">
          Validate
        </label>
      </div>
      
      <div class="col-6 col-sm-2 d-flex justify-content-center align-items-center marginleft8 margintop25">
        <button type="submit" class="btn btn-dark">Search</button>
        <button type="button" (click)="ClearSearch()" class="btn btn-outline-dark" style="margin-left: 12px; color: white;">Clear</button>
      </div>
    </div>
  </form>
  
<!-- 
  <hr /> -->
  
  <div style="overflow-x:auto;">
  <table mat-table [dataSource]="dataSource.data" matSort class="table">
    <ng-container matColumnDef="contractorName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="coloredwhite"> Contractor Name </th>
      <td mat-cell *matCellDef="let row"> {{row.contractorName}} </td>
    </ng-container>

    <ng-container matColumnDef="cFirstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="coloredwhite"> First Name</th>
      <td mat-cell *matCellDef="let row"> {{row.cFirstName}} </td>
    </ng-container>

    <ng-container matColumnDef="cLastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="coloredwhite"> Last Name </th>
      <td mat-cell *matCellDef="let row"> {{row.cLastName}} </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="coloredwhite"> Start Date </th>
      <td mat-cell *matCellDef="let row"> {{row.startDate}} </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="coloredwhite"> End Date </th>
      <td mat-cell *matCellDef="let row"> {{row.endDate}} </td>
    </ng-container>

    <ng-container matColumnDef="totalAmount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="coloredwhite"> Total Amount </th>
      <td mat-cell *matCellDef="let row"> {{row.totalAmount}} </td>
    </ng-container>

    <ng-container matColumnDef="selfBillInvoiceNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="coloredwhite"> SelfBill InvoiceNo </th>
      <td mat-cell *matCellDef="let row"> {{row.selfBillInvoiceNo}} </td>
    </ng-container>



    <ng-container matColumnDef="errorMessage">
      <th mat-header-cell *matHeaderCellDef class="coloredwhite" > Read Status </th>
      <td mat-cell *matCellDef="let row" style="max-width: 240px;">
        <ng-container *ngIf="row.isErrorOnRow; else okTemplate">
          <!-- <span class="error-icon" aria-hidden="true">❌</span> -->
          <i class="fa-solid fa-triangle-exclamation"></i>
          {{ row.errorMessage }}
          <span *ngIf="row.errorID ==0">Timeperiod is not specified.</span>
        </ng-container>
        <ng-template #okTemplate>
          <!-- <span class="ok-icon" aria-hidden="true">✅</span> -->
          <i class="fa-solid fa-circle-check"></i>
          OK
        </ng-template>
      </td>
    </ng-container>

    

    <ng-container matColumnDef="afsInvoiceStatus">
      <th mat-header-cell *matHeaderCellDef class="coloredwhite">
        AFS Invoice Status
      </th>
      <td mat-cell *matCellDef="let row" style="padding-left: 30px;">
        <a *ngIf="row.isRecordValidated; else pendingTemplate" href="javascript:void(0)" (click)="onDownloadInvoice(row)"
          class="invoice-link">
          201-86649 <i class="fa-solid fa-download" style="margin-right: 5px;"></i>
        </a>
        <ng-template #pendingTemplate>
          <span>Pending</span>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="isExpenseOrTimesheet">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="coloredwhite"> Sheet Type </th>
      <td mat-cell *matCellDef="let row"> 
        
        <span *ngIf="row.isExpenseOrTimesheet =='T'">Timesheet</span>
        <span *ngIf="row.isExpenseOrTimesheet =='E'">Expense</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="coloredwhite"> Actions </th>
      <td mat-cell *matCellDef="let element">
        <!-- If element.isRecordValidated is true, show text -->
        <ng-container *ngIf="element.isRecordValidated; else showButton">

          <strong class="p-2" style="color:green;font-size: small;">Validated</strong>
        </ng-container>
        <!-- If not true, show the button -->
        <ng-template #showButton>
          <button type="button" (click)="openInvoiceModal(element)" class="btn btn-outline-success">Validate</button>
        </ng-template>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"
      [ngClass]="{'table-success': row.isErrorOnRow===0, 'table-danger': row.isErrorOnRow ===1}"></tr>
  </table>
  </div>

  <mat-paginator [length]="totalRecords" [pageSize]="pageSize" [pageIndex]="pageIndex" (page)="onPageChanged($event)"
    [pageSizeOptions]="[5, 10, 15, 20]" [showFirstLastButtons]="true">
  </mat-paginator>
</div>

<div class="loading-overlay" *ngIf="loading">
  <div class="loader"></div>
</div>