<div class="container-fluid ">
  <div class="row vh-100">
    <div class="col-sm-7" style="background-color: #112253;">
      <img src="assets/login/login.webp" alt="Login Image" class="img-fluid imageheight" />
    </div>
    <div class="col-sm-5 d-flex align-items-center justify-content-center" style="border: 1px solid;">
      <div class="p-3" style="width: 100%; max-width: 500px;">
        <h3 class="text-start mb-4 mt-5">Login</h3>
        <form (ngSubmit)="onLogin()">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username"
              placeholder="Enter your username" required />
          </div>
          <div class="mb-3 position-relative">
            <label for="password" class="form-label">Password</label>
            <input [type]="changetype ? 'password': 'text' " class="form-control" id="password" [(ngModel)]="password"
              name="password" placeholder="Enter your password" required />
            <span class="eyeicon" (click)="viewpass()">
              <i [ngClass]="visible ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
            </span>
          </div>
          <div *ngIf="errorMessage" class="text-danger mt-1">{{ errorMessage }}</div>
          <button type="submit" class="btn btn-primary w-100 mt-1" [disabled]="!username || !password">Login</button>
          <a href="" class="textunderline">
            <p class="text-center mt-3">I forgot my password</p>
          </a>
        </form>
      </div>
    </div>
  </div>
</div>