<div class="modal-overlay" *ngIf="isPopupVisible">

  <div class="expense-container">
    <button class="close-btn" (click)="closeDialog()">×</button>
    <!-- Form Section -->
    <div class="form-section col-12 col-lg-7 overflow-auto pe-lg-4 mb-3 mb-lg-0"
      style="max-height: 550px; border-right: 5px solid #ddd;">
      <h3 style="font-size: 18px; font-weight: 700; color: #2f455c;">Expense</h3>
      <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
        <div class="form-content">
          <!-- Contractor Name -->
          <div class="form-row">
            <label for="ContractorName">Contractor Name:</label>
            <input type="text" id="ContractorName" class="form-control" [(ngModel)]="contractorname"
              name="ContractorName" required />
          </div>

          <!-- AFS Contractor DropDown -->
          <div class="form-row">
            <label for="contractDropdown">AFS Contractor:</label>
            <select id="AFSContractorDropdown" class="form-control styled-dropdown" [(ngModel)]="selectedContract" name="Contractor"
              (change)="filterContractData()">
              <option *ngFor="let option of contractorOptions" [ngValue]="option">
                {{ option.fullName }}
              </option>
            </select>
          </div>
          <!-- AFS Contact -->
          <div class="form-row">
            <label for="filteredContractDropdown">AFS Contract:</label>
            <select id="AFSContactDropdown" class="form-control styled-dropdown" [(ngModel)]="selectedFilteredContract" name="Contact">
              <option *ngFor="let option of filteredContractOptions" [value]="option.name">
                {{ option.name }}
              </option>
            </select>
          </div>


          <!-- First Name -->
          <div class="form-row">
            <label for="ContractorName">First Name:</label>
            <input type="text" id="firstnamefor" class="form-control" [(ngModel)]="firstnamefor" name="firstnamefor"
              required />
          </div>

          <!-- Last Name -->
          <div class="form-row">
            <label for="ContractorName">Last Name:</label>
            <input type="text" id="LastName" class="form-control" [(ngModel)]="lastnamefor" name="lastnamefor" required />
          </div>

          <!--Start Date -->
          <div class="form-row">
            <label for="date">Start Date:</label>
            <input type="date" id="startDate" class="form-control" [(ngModel)]="startdate" name="startdate" required />
          </div>

          <!--End Date -->
          <div class="form-row">
            <label for="date">End Date:</label>
            <input type="date" id="endDate" class="form-control" [(ngModel)]="enddate" name="enddate" required />
          </div>

          <!-- Total Amount -->
          <div class="form-row">
            <label for="TotalAmount">Total Amount:</label>
            <input type="text" id="TotalAmount" class="form-control" [(ngModel)]="totalAmount" name="totalAmount"
              required />
          </div>

          <!-- Invoice No -->
          <div class="form-row">
            <label for="InvoiceNo">Invoice No:</label>
            <input type="text" id="InvoiceNo" class="form-control" [(ngModel)]="invoiceNumber" name="invoiceNumber"
              required />
          </div>

          <!--Invoice Date -->
          <div class="form-row">
            <label for="Invoicedate">Invoice Date:</label>
            <input type="date" id="Invoicedate" class="form-control" [(ngModel)]="invoiceDate" name="invoiceDate"
              required />
          </div>

          <input type="hidden" id="groupNewId" [(ngModel)] = "groupNewId">
          <input type="hidden" id="gridCtcCode" [(ngModel)] = "gridCtcCode">

          <!-- SelfBill contractID -->
          <!-- <div class="form-row">
            <label for="SelfBillcontractID">SelfBill ContractID:</label>
            <input type="text" id="SelfBillcontractID" class="form-control" [(ngModel)]="lastnamefor"
              name="SelfBillcontractID" required />
          </div> -->


        </div>

        <div class="form-footer">
          <button type="submit" class="btn-save">Save</button>
        </div>
      </form>
    </div>

    <!-- Right Section: Image or PDF Preview -->
    <div class="preview-section col-12 col-lg-5 ">
      <h3 style="font-size: 18px; font-weight: 700; color: #2f455c;">Preview</h3>
      <div class="image-preview">
        <lib-ngx-image-zoom [thumbImage]="thumbImage" [fullImage]="fullImagePath" [magnification]="2"
          [enableScrollZoom]="false" [enableLens]="true" [lensWidth]="100" [lensHeight]="100" [maxZoomRatio]="2"
          [circularLens]="true" [scrollStepSize]="1">
        </lib-ngx-image-zoom>

      </div>
    </div>
  </div>
</div>